<a href="https://colab.research.google.com/github/Mainabryan/SMART-_ECOMMERCE/blob/main/Untitled92.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###MERGING THE DATASETS FROMING ONE DATASETS

In [4]:
import pandas as pd
ads_campaigns = pd.read_csv('/content/ads_campaigns-sheet1-sourcetable.csv')
customer_table = pd.read_csv('/content/customer_table-sheet1-sourcetable (1).csv')
ga_sessions = pd.read_csv('/content/ga_sessions-sheet1-sourcetable.csv')
orders = pd.read_csv('/content/orders_csv-sheet1-sourcetable.csv')
product = pd.read_csv('/content/poduct_csv-sheet1-sourcetable.csv')

In [5]:
def preview(df, name):
    print(f"\n=== {name} ===")
    print(df.head(3).to_string(index=False))
    print("Columns:", list(df.columns))

preview(ads_campaigns, "ads_campaigns")
preview(customer_table, "customer_table")
preview(ga_sessions,   "ga_sessions")
preview(orders,        "orders")
preview(product,       "product")

=== ads_campaigns ===
ad_campaign_id   platform start_date   end_date     spend  impressions  clicks  conversions
       CAMP001 Google Ads 01/15/2023 02/14/2023 $2,500.00       125000    3200           85
       CAMP002   Facebook 02/01/2023 03/01/2023 $1,800.00        98000    2800           72
       CAMP003     TikTok 03/10/2023 04/09/2023 $3,200.00       210000    5800          145
Columns: ['ad_campaign_id', 'platform', 'start_date', 'end_date', 'spend', 'impressions', 'clicks', 'conversions']

=== customer_table ===
customer_id   customer_name gender  age      country signup_date
   CUST1001   Aisha Okonkwo      F   28      Nigeria  02/14/2023
   CUST1002   James Muriuki      M   35        Kenya  03/21/2023
   CUST1003 Nomvula Dlamini      F   42 South Africa  01/08/2023
Columns: ['customer_id', 'customer_name', 'gender', 'age', 'country', 'signup_date']

=== ga_sessions ===
order_id customer_id order_date product_id  quantity  price  discount  total ad_campaign_id
ORD00001    CUST1001 02/20/2023    PROD001         2  79.99      0.15 135.98        CAMP001
ORD00002    CUST1002 03/25/2023    PROD007         1  89.99      0.10  80.99        CAMP002
ORD00003    CUST1003 01/12/2023    PROD012         1  99.99      0.00  99.99        CAMP001
Columns: ['order_id', 'customer_id', 'order_date', 'product_id', 'quantity', 'price', 'discount', 'total', 'ad_campaign_id']

=== orders ===
order_id customer_id order_date product_id  quantity  price  discount  total ad_campaign_id
ORD00001    CUST1001 02/20/2023    PROD001         2  79.99      0.15 135.98        CAMP001
ORD00002    CUST1002 03/25/2023    PROD007         1  89.99      0.10  80.99        CAMP002
ORD00003    CUST1003 01/12/2023    PROD012         1  99.99      0.00  99.99        CAMP001
Columns: ['order_id', 'customer_id', 'order_date', 'product_id', 'quantity', 'price', 'discount', 'total', 'ad_campaign_id']

=== product ===
product_id      product_name    category cost_price selling_price
   PROD001  Wireless Earbuds Electronics     $45.00        $79.99
   PROD002   Smart Watch Pro Electronics    $120.00       $199.99
   PROD003 Bluetooth Speaker Electronics     $35.00        $59.99
Columns: ['product_id', 'product_name', 'category', 'cost_price', 'selling_price']

In [8]:
# -------------------------------------------------
# Updated Merge Script Based on Your Actual Data
# -------------------------------------------------
import pandas as pd

# Assuming the DataFrames are already loaded as per your first cell
# (If not, uncomment the lines below)
# ads_campaigns = pd.read_csv('/content/ads_campaigns-sheet1-sourcetable.csv')
# customer_table = pd.read_csv('/content/customer_table-sheet1-sourcetable (1).csv')
# ga_sessions = pd.read_csv('/content/ga_sessions-sheet1-sourcetable.csv')
# orders = pd.read_csv('/content/orders_csv-sheet1-sourcetable.csv')
# product = pd.read_csv('/content/poduct_csv-sheet1-sourcetable.csv')

# -------------------------------------------------
# Quick verification (optional – you already saw this)
# -------------------------------------------------
def preview(df, name):
    print(f"\n=== {name} ({df.shape[0]} rows, {df.shape[1]} cols) ===")
    print(df.head(3).to_string(index=False))
    print("Columns:", list(df.columns))

preview(ads_campaigns, "ads_campaigns")
preview(customer_table, "customer_table")
preview(ga_sessions,   "ga_sessions")  # Note: Your output shows order-related cols here!
preview(orders,        "orders")        # Appears identical to ga_sessions in your sample
preview(product,       "product")

# -------------------------------------------------
# Insight from your output:
# - ga_sessions and orders have THE EXACT SAME columns and data (at least in the sample).
#   This might mean ga_sessions is misnamed or contains order-level data with ad_campaign_id.
# - ads_campaigns links via ad_campaign_id (present in ga_sessions/orders as 'ad_campaign_id')
# - No session_id or separate GA metrics (e.g., pageviews) in the provided sample.
# - We'll treat ga_sessions as the base (since it has ad_campaign_id) and merge everything to it.
# -------------------------------------------------

# Start with ga_sessions as the core table (has orders + ad_campaign_id)
df = ga_sessions.copy()

# 1. Merge Product info (on product_id)
df = df.merge(product, on='product_id', how='left', suffixes=('', '_prod'))

# 2. Merge Customer info (on customer_id)
df = df.merge(customer_table, on='customer_id', how='left', suffixes=('', '_cust'))

# 3. Merge Ads Campaign info (on ad_campaign_id)
# Note: Column is 'ad_campaign_id' in ga_sessions, but 'ad_campaign_id' in ads_campaigns
df = df.merge(ads_campaigns, on='ad_campaign_id', how='left', suffixes=('', '_camp'))

# 4. If orders is truly separate (more rows?), merge it too – but in your sample it's identical
#    Uncomment if orders has extra data:
# df = df.merge(orders, on='order_id', how='left', suffixes=('', '_ord'))

# -------------------------------------------------
# Clean up: Drop any fully duplicate columns (e.g., repeated keys after merge)
# -------------------------------------------------
df = df.loc[:, ~df.columns.duplicated()]

# Optional: Clean currency columns (remove $ and commas, convert to float)
currency_cols = ['spend', 'cost_price', 'selling_price', 'price', 'total']
for col in currency_cols:
    if col in df.columns:
        df[col] = df[col].replace('[\$,]', '', regex=True).astype(float)

# Optional: Convert date columns to datetime
date_cols = ['start_date', 'end_date', 'order_date', 'signup_date']
for col in date_cols:
    if col in df.columns:
        df[col] = pd.to_datetime(df[col], format='%m/%d/%Y', errors='coerce')

# -------------------------------------------------
# Final merged dataset
# -------------------------------------------------
print("\n=== FINAL MERGED DATASET ===")
print(f"Shape: {df.shape[0]} rows, {df.shape[1]} columns")
print(df.head(3).to_string(index=False))

# Save to CSV for download/use
df.to_csv('/content/merged_dataset_final.csv', index=False)
print("\nSaved to /content/merged_dataset_final.csv")

# Bonus: Quick summary stats
print("\n=== QUICK INSIGHTS ===")
print(df.describe(include='all'))
print("\nMissing values per column:\n", df.isnull().sum())

=== ads_campaigns (20 rows, 8 cols) ===
ad_campaign_id   platform start_date   end_date     spend  impressions  clicks  conversions
       CAMP001 Google Ads 01/15/2023 02/14/2023 $2,500.00       125000    3200           85
       CAMP002   Facebook 02/01/2023 03/01/2023 $1,800.00        98000    2800           72
       CAMP003     TikTok 03/10/2023 04/09/2023 $3,200.00       210000    5800          145
Columns: ['ad_campaign_id', 'platform', 'start_date', 'end_date', 'spend', 'impressions', 'clicks', 'conversions']

=== customer_table (104 rows, 6 cols) ===
customer_id   customer_name gender  age      country signup_date
   CUST1001   Aisha Okonkwo      F   28      Nigeria  02/14/2023
   CUST1002   James Muriuki      M   35        Kenya  03/21/2023
   CUST1003 Nomvula Dlamini      F   42 South Africa  01/08/2023
Columns: ['customer_id', 'customer_name', 'gender', 'age', 'country', 'signup_date']

=== ga_sessions (75 rows, 9 cols) ===
order_id customer_id order_date product_id  quantity  price  discount  total ad_campaign_id
ORD00001    CUST1001 02/20/2023    PROD001         2  79.99      0.15 135.98        CAMP001
ORD00002    CUST1002 03/25/2023    PROD007         1  89.99      0.10  80.99        CAMP002
ORD00003    CUST1003 01/12/2023    PROD012         1  99.99      0.00  99.99        CAMP001
Columns: ['order_id', 'customer_id', 'order_date', 'product_id', 'quantity', 'price', 'discount', 'total', 'ad_campaign_id']

=== orders (75 rows, 9 cols) ===
order_id customer_id order_date product_id  quantity  price  discount  total ad_campaign_id
ORD00001    CUST1001 02/20/2023    PROD001         2  79.99      0.15 135.98        CAMP001
ORD00002    CUST1002 03/25/2023    PROD007         1  89.99      0.10  80.99        CAMP002
ORD00003    CUST1003 01/12/2023    PROD012         1  99.99      0.00  99.99        CAMP001
Columns: ['order_id', 'customer_id', 'order_date', 'product_id', 'quantity', 'price', 'discount', 'total', 'ad_campaign_id']

=== product (100 rows, 5 cols) ===
product_id      product_name    category cost_price selling_price
   PROD001  Wireless Earbuds Electronics     $45.00        $79.99
   PROD002   Smart Watch Pro Electronics    $120.00       $199.99
   PROD003 Bluetooth Speaker Electronics     $35.00        $59.99
Columns: ['product_id', 'product_name', 'category', 'cost_price', 'selling_price']

=== FINAL MERGED DATASET ===
Shape: 75 rows, 25 columns
order_id customer_id order_date product_id  quantity  price  discount  total ad_campaign_id      product_name    category  cost_price  selling_price   customer_name gender  age      country signup_date   platform start_date   end_date  spend  impressions  clicks  conversions
ORD00001    CUST1001 2023-02-20    PROD001         2  79.99      0.15 135.98        CAMP001  Wireless Earbuds Electronics        45.0          79.99   Aisha Okonkwo      F   28      Nigeria  2023-02-14 Google Ads 2023-01-15 2023-02-14 2500.0       125000    3200           85
ORD00002    CUST1002 2023-03-25    PROD007         1  89.99      0.10  80.99        CAMP002  Running Sneakers     Fashion        55.0          89.99   James Muriuki      M   35        Kenya  2023-03-21   Facebook 2023-02-01 2023-03-01 1800.0        98000    2800           72
ORD00003    CUST1003 2023-01-12    PROD012         1  99.99      0.00  99.99        CAMP001 Kitchen Knife Set        Home        60.0          99.99 Nomvula Dlamini      F   42 South Africa  2023-01-08 Google Ads 2023-01-15 2023-02-14 2500.0       125000    3200           85

Saved to /content/merged_dataset_final.csv

=== QUICK INSIGHTS ===
        order_id customer_id           order_date product_id   quantity  \
count         75          75                   75         75  75.000000
unique        75          58                  NaN         32        NaN
top     ORD00001    CUST1001                  NaN    PROD006        NaN
freq           1           3                  NaN          3        NaN
mean         NaN         NaN  2023-10-26 17:36:00        NaN   1.613333
min          NaN         NaN  2023-01-12 00:00:00        NaN   1.000000
25%          NaN         NaN  2023-07-17 12:00:00        NaN   1.000000
50%          NaN         NaN  2023-11-01 00:00:00        NaN   1.000000
75%          NaN         NaN  2024-02-10 00:00:00        NaN   2.000000
max          NaN         NaN  2024-05-28 00:00:00        NaN   5.000000
std          NaN         NaN                  NaN        NaN   0.883686

             price   discount       total ad_campaign_id        product_name  \
count    75.000000  75.000000   75.000000             75                  75
unique         NaN        NaN         NaN             17                  32
top            NaN        NaN         NaN        CAMP009  Phone Case - Black
freq           NaN        NaN         NaN              6                   3
mean     75.723333   0.092000   87.458000            NaN                 NaN
min      14.990000   0.000000   29.980000            NaN                 NaN
25%      39.990000   0.050000   53.990000            NaN                 NaN
50%      59.990000   0.100000   79.980000            NaN                 NaN
75%      89.990000   0.150000  102.985000            NaN                 NaN
max     279.990000   0.200000  251.990000            NaN                 NaN
std      59.602814   0.066799   47.475089            NaN                 NaN

        ...        age  country          signup_date    platform  \
count   ...  75.000000       75                   75          75
unique  ...        NaN        5                  NaN           4
top     ...        NaN  Nigeria                  NaN  Google Ads
freq    ...        NaN       16                  NaN          21
mean    ...  33.546667      NaN  2023-09-14 10:14:24         NaN
min     ...  24.000000      NaN  2023-01-08 00:00:00         NaN
25%     ...  29.000000      NaN  2023-06-03 00:00:00         NaN
50%     ...  33.000000      NaN  2023-09-11 00:00:00         NaN
75%     ...  38.000000      NaN  2023-12-26 12:00:00         NaN
max     ...  46.000000      NaN  2024-05-15 00:00:00         NaN
std     ...   5.836264      NaN                  NaN         NaN

                 start_date             end_date        spend    impressions  \
count                    75                   75    75.000000      75.000000
unique                  NaN                  NaN          NaN            NaN
top                     NaN                  NaN          NaN            NaN
freq                    NaN                  NaN          NaN            NaN
mean    2023-10-17 09:55:12  2023-11-15 23:02:24  2868.000000  163813.333333
min     2023-01-15 00:00:00  2023-02-14 00:00:00  1800.000000   98000.000000
25%     2023-07-01 00:00:00  2023-07-31 00:00:00  2350.000000  122500.000000
50%     2023-11-05 00:00:00  2023-12-04 00:00:00  2800.000000  145000.000000
75%     2024-02-05 00:00:00  2024-03-05 00:00:00  3400.000000  175000.000000
max     2024-05-10 00:00:00  2024-06-09 00:00:00  4000.000000  280000.000000
std                     NaN                  NaN   624.318006   55670.044673

             clicks conversions
count     75.000000   75.000000
unique          NaN         NaN
top             NaN         NaN
freq            NaN         NaN
mean    4266.000000  112.960000
min     2800.000000   72.000000
25%     3200.000000   86.000000
50%     3750.000000  100.000000
75%     4300.000000  115.000000
max     7200.000000  188.000000
std     1410.461876   35.367354

[11 rows x 25 columns]

Missing values per column:
 order_id          0
customer_id       0
order_date        0
product_id        0
quantity          0
price             0
discount          0
total             0
ad_campaign_id    0
product_name      0
category          0
cost_price        0
selling_price     0
customer_name     0
gender            0
age               0
country           0
signup_date       0
platform          0
start_date        0
end_date          0
spend             0
impressions       0
clicks            0
conversions       0
dtype: int64

<>:63: SyntaxWarning: invalid escape sequence '\$'
<>:63: SyntaxWarning: invalid escape sequence '\$'
/tmp/ipython-input-889537802.py:63: SyntaxWarning: invalid escape sequence '\$'
  df[col] = df[col].replace('[\$,]', '', regex=True).astype(float)